
<div class="">
    <h2 class="">Formulario de Tarea</h2>
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" #form="ngForm">
        <mat-label>
            Title:
            <mat-form-field>
                <input matInput #first formControlName="title"/>
            </mat-form-field>
            @if(formControls.title?.invalid && (formControls.title?.dirty || formControls.title?.touched || form.submitted)) {
                <mat-error>
                    {{ checkForErrorsIn(formControls.title) }}
                </mat-error>
            }
        </mat-label>
        <br/>
        <mat-label>
            Description:
            <mat-form-field>
                <textarea matInput
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          cdkAutosizeMinRows="1"
                          cdkAutosizeMaxRows="5" formControlName="description"></textarea>
            </mat-form-field>
            @if(formControls.description?.invalid && (formControls.description?.dirty || formControls.description?.touched || form.submitted)) {
                <mat-error>
                    {{ checkForErrorsIn(formControls.description) }}
                </mat-error>
            }
        </mat-label>
        <br/>
        <mat-label>
            Expiration Date:
            <mat-form-field>
                <input matInput [matDatepicker]="picker" formControlName="expirationDate" >
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            @if(formControls.expirationDate?.invalid && (formControls.expirationDate?.dirty || formControls.expirationDate?.touched || form.submitted)) {
                <mat-error>
                    {{ checkForErrorsIn(formControls.expirationDate) }}
                </mat-error>
            }
        </mat-label>
        <br/>
        <mat-label>
            Priority:
            <mat-form-field>
                <mat-select formControlName="priority">
                    @for (priority of priorities; track priority) {
                        <mat-option [value]="priority">{{ priority }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            @if(formControls.priority?.invalid && (formControls.priority?.dirty || formControls.priority?.touched || form.submitted)) {
                <mat-error>
                    {{ checkForErrorsIn(formControls.priority) }}
                </mat-error>
            }
        </mat-label>
        <br/>
        <mat-label>
            Status:
            <mat-form-field>
                <mat-select formControlName="status">
                    @for (status of statuses; track status) {
                        <mat-option [value]="status">{{ status }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            @if(formControls.status?.invalid && (formControls.status?.dirty || formControls.status?.touched || form.submitted)) {
                <mat-error>
                    {{ checkForErrorsIn(formControls.status) }}
                </mat-error>
            }
        </mat-label>
        <br/>
        <mat-label>
            Category:
            <mat-form-field>
                <mat-select formControlName="category">
                    @for (category of categories; track category) {
                        <mat-option [value]="category">{{ category }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            @if(formControls.category?.invalid && (formControls.category?.dirty || formControls.category?.touched || form.submitted)) {
                <mat-error>
                    {{ checkForErrorsIn(formControls.category) }}
                </mat-error>
            }
        </mat-label>
        <br>
        <button matFab extended type="submit">
            <mat-icon>save</mat-icon>
            Save
        </button>
    </form>
</div>