<div class="">
    <h2 class="">Añadir Tarea</h2>
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" #form="ngForm">
        <mat-label>
            Title:
            <mat-form-field>
                <input matInput #first formControlName="title"/>
            </mat-form-field>
            @if(formControls.title?.invalid && (formControls.title?.dirty || formControls.title?.touched || form.submitted)) {
                <mat-error>
                    {{ checkForErrorsIn(formControls.title) | titlecase }}
                </mat-error>
            }
        </mat-label>
        <br>
        <mat-label>
            Completed:
            <mat-form-field>
                <mat-select formControlName="completed">
                    @for (completedOption of completedOptions; track completedOption) {
                        <mat-option [value]="completedOption">{{ completedOption }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            @if(formControls.priority?.invalid && (formControls.priority?.dirty || formControls.priority?.touched || form.submitted)) {
                <mat-error>
                    {{ checkForErrorsIn(formControls.priority) | titlecase }}
                </mat-error>
            }
        </mat-label>
        <br>
        <button matFab extended type="submit" [disabled]="form.pristine">
            <mat-icon>save</mat-icon>
            Save
        </button>
    </form>
</div>